<%= form_for(property) do |f| %>
  <% if property.errors.any? %>
    <div id='error_explanation'>
      <h2><%= pluralize(property.errors.count, t("layout.views.error_indicate")) %></h2>

      <ul>
      <% property.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name, t("layout.property.name") %>
  <%= f.text_field :name, class: 'form-control' %>
  <%= f.label :rent, t("layout.property.rent") %>
  <%= f.text_field :rent, class: 'form-control' %><%= t("number.currency.format.unit") %>
  <%= f.label :address, t("layout.property.address") %>
  <%= f.text_field :address, class: 'form-control' %>
  <%= f.label :age, t("layout.property.age") %>
  <%= f.text_field :age, class: 'form-control' %><%= t("datetime.prompts.year") %>
  <%= f.label :remarks, t("layout.property.remarks") %>
  <%= f.text_area :remarks, class: 'form-control' %>

  <div class='nearest-stations-form'><%= f.fields_for :nearest_stations do |stations_form| %></div>
    <h3><%= t("activerecord.models.nearest_stations") %><%= stations_form.index + 1 %></h3>
    <%= stations_form.label :line, t("layout.nearest_station.line") %>
    <%= stations_form.text_field :line %>
    <%= stations_form.label :name, t("layout.nearest_station.name") %>
    <%= stations_form.text_field :name %>
    <%= stations_form.label :walking_minutes, t("layout.nearest_station.walking_minutes") %>
    <%= stations_form.text_field :walking_minutes %><%= t("datetime.prompts.minute") %>
  <% end %>

  <div class='actions form-submit'><%= f.submit %></div>
<% end %>
